<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oscar Korpi</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/main.css" />
<!--    <link rel="stylesheet" href="/static/css/latex.css" />-->
    <link rel="stylesheet" href="/static/css/output.css" />

<!--    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>-->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/gh/gnat/surreal@main/surreal.js"></script>
<!--    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>-->
</head>
<body hx-boost="true" class="font-sans h-full w-full grid grid-rows-[auto_1fr]">
    {% block content %}
    {% endblock content %}
</body>
</html>