{% extends "templates/layout.html" %}

{% block content %}

<div class="flex flex-col w-full h-full">
    <div class="w-full grid items-center justify-center py-52 bg-indigo-dye">
        <div class="flex flex-col gap-8 text-gray-200">
            <h1 class="text-5xl text-gray-100 text-center underline underline-offset-4 decoration-imperial-red font-bold">Conveyor</h1>
            <p class="text-center">A simpler and more elegant build tool for Kotlin – an idea and a work in progress project.</p>
        </div>
    </div>
    <div class="w-full px-24 flex flex-col items-center py-16 text-gray-900">
        <div class="lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm max-w-fit">
            <h2 class="text-3xl py-2">Motivation</h2>
            <p class="max-w-screen-lg">
                Kotlin lacks good build tools.<br>
                Maven is overly verbose. Gradle is overly complex.
                Creating custom tasks in Maven is frustrating.
                Attempting to manage tasks in Gradle will have you ripping your hair out.
                <br><br>
                There isn't really a good option if you want a simple build tool for Kotlin.
                Initially, I set out to write a complete build tool on my own.
                The idea was to create a nice little build tool that uses YAML for its configuration.
                But build tools are complex, and the <em>building</em> parts of Gradle and Maven are completely fine,
                it's their configuration and task managements that are a chore.
                <br><br>
                And so I decided to start out by writing a tool that converts a YAML configuration into a valid
                Maven configuration. This worked pretty well and solved managing dependencies. But it brings in another
                step that the developer has to go through to compile their program, and it didn't fix
                the task management part. That's where I decided to bring in <a class="underline" href="https://taskfile.dev/">Task</a>,
                to manage our tasks and provide some useful custom tasks to avoid having to directly interface with Maven.
            </p>

            <h2 class="text-3xl py-2 mt-4">The project (WIP)</h2>

            <p>
                The project ended up being simpler than expected, thanks to the project delegating all the hard work to
                Maven and Task. The project is essentially split into two main parts:
            </p>
            <ol class="list-decimal ml-8">
                <li>The YAML to Maven converter</li>
                <li>The Taskfile</li>
            </ol>

            <h3 class="text-2xl py-2 mt-2">The YAML to Maven converter</h3>
            <p>
                This converter is the part that is doing all the hard work. It's more than just a converter.
                It's really the core of the project, and handles tasks such as creating new projects,
                checking if the configuration is valid, and so on.
                <br>
                <br>
                The 'converter', or really the conveyor core, is built as a CLI which Task then uses (more on that in the Taskfile section).
                Its main responsibility is managing the conveyor file, <code>conveyor.yaml</code>. This is where our build configuration lives.
                The conveyor file acts as a single source of truth for how we should handle project settings and dependencies.

                On generating a new project, the following conveyor file is generated in the project root:
            </p>
            <div class="p-4 border border-gray-200 rounded my-2 shadow overflow-x-scroll max-w-screen-lg">
                <pre class="max-w-screen-lg whitespace-pre"><code class="whitespace-pre">{{ basic }}</code></pre>
            </div>
            <p>
                The conveyor file is quite simple and the main sections are clearly separated.
                First we have metadata about our project, then we have some language and build configuration.<br>
                The versions block is supposed to allow us to define "version variables" to reuse the same version,
                for example a version variable for Ktor dependencies.
                <br>
                In the other blocks we can define our plugins and dependencies.
                <br><br>
                Here is an example of a more "full" conveyor file, that one might find in a normal project:
            </p>
            <div class="p-4 border border-gray-200 rounded my-2 shadow overflow-x-scroll max-w-screen-lg">
                <pre class="max-w-screen-lg whitespace-pre"><code class="whitespace-pre">{{ yaml }}</code></pre>
            </div>

            <h3 class="text-2xl py-2">The Taskfile</h3>
            <p>
                Task handles all of our commands. It's what we use in most cases to interact with our CLI.
                By default, it provides us the following commands:
            </p>
            <ol class="list-decimal ml-8">
                <li>Build task, to convert or conveyor file to a Maven pom.xml file</li>
                <li>Test task</li>
                <li>Compile task</li>
                <li>Run task</li>
                <li>Clean task</li>
            </ol>

            <p>By a happy accident, Task also uses YAML for its configuration of the Taskfile, which keeps things consistent.</p>

        </div>
    </div>
</div>

{% endblock %}